@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #687FA3;
	margin: 0;
	padding: 0;
	color: #000;
}

a:link {
     color: #7868A3;
}
a:visited {
     color: #7868A3;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
.homePage {
	background: #6892A3;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	font: 100%/1.4 Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: #04D9C4;
	background: #06BFBF;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #02070D;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
	<style>
 	 h1 { text-align: center; }
 	 h2 { text-align: left; }
 	 h3 { text-align: right; }
	</style>
}
.footer {
	background: #02070D;
	color: #F27649;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
